{{!-- {{log blog}} --}}

<div class="card justify-content-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">By: {{blog.user.username}}</h6>
    <p class="card-text">{{blog.blog_content}}</p>
  </div>
</div>