<div class="card text-center">
    <form class="form signup-form">
        <h2 class="card-title">Enter information below to get signed up!</h2>
        <div class="form-group">
            <label for="name-signup">username:</label>
            <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
            <label for="email-signup">email:</label>
            <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
            <label for="password-signup">password:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>